/* App.css */
.swiper-container {
  width: 80%;
  /* Set it to 80% of the screen's width */
  max-width: 800px;
  /* Maximum width will be 800px */
  margin: 0 auto;
  /* Center the swiper horizontally */
}

.swiper-slide img {
  width: 100%;
  /* Ensure images fit the swiper container */
  height: auto;
  /* Maintain the aspect ratio of images */
}